@import "tailwindcss";

@theme {
  --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: "Fern", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;

  --font-display: "GrenzeGotisch", var(--font-serif);
}

@font-face {
  font-family: "Fern";
  src: url("FernVariable-Roman-VF.woff2") format("woff2");
  font-style: normal;
  font-weight: 100 900;
}

@font-face {
  font-family: "Fern";
  src: url("FernVariable-Italic-VF.woff2") format("woff2");
  font-style: italic;
  font-weight: 100 900;
}

@font-face {
  font-family: "GrenzeGotisch";
  src: url("GrenzeGotisch.woff2") format("woff2");
  font-weight: 100 900;
}

@layer base {

}

@layer components {
  .btn {
    @apply inline-block w-full sm:w-auto rounded-md px-4 py-2.5 text-center font-medium bg-purple-900 hover:opacity-90 active:opacity-100 text-amber-50 cursor-pointer;
  }

  a:not([class]),
  .link {
    @apply underline decoration-dotted underline-offset-3 hover:decoration-solid cursor-pointer;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="search"],
  input[type="url"],
  input[type="tel"],
  input[type="number"],
  input[type="date"],
  input[type="time"],
  input[type="datetime-local"],
  textarea,
  select {
    @apply block w-full rounded px-3 py-2 bg-white border border-black/10 transition
      hover:scale-110 hover:-rotate-1 hover:shadow-xl
      focus:scale-105 focus:rotate-0 focus:shadow-lg focus:border-white focus:outline-none focus:ring-1 focus:ring-yellow-500;

    /* &:invalid {
      @apply outline-2 outline-red-500;
    } */

    &:disabled,
    &[disabled] {
      @apply opacity-50 rotate-0! scale-100! shadow-none! cursor-not-allowed;
    }
  }
}

@layer utilities {
  .animate-appear-then-fade {
    animation: appear-then-fade 4s both;
  }
  @keyframes appear-then-fade {
    0%, 100% {
      opacity:0
    }
    5%, 60% {
      opacity:1
    }
  }
}