<%= turbo_frame_tag "signin" do %>
  <%= form_with url: validate_session_path do |f| %>
    <%= f.text_field :code, required: true, placeholder: "000000", class: "block border-0 text-center focus:outline-none rounded-md px-3 py-2 mt-2 w-full" %>
    <p>We emailed you some magic runes. Put them here!</p>
  <% end %>
<% end %>