<main class="flex-1 flex flex-col justify-center items-center gap-8">
  <div class="space-y-4 max-w-[36ch] text-center *:text-balance">
    <h1 class="font-display text-3xl mb-8">Welcome to Counterspell Games</h1>
    <p>
      In October, we're bringing the magic of Table-Top RPGs to beginners.
    </p>

    <p>
      People like you, who've always wanted to play a game like <a href="https://en.wikipedia.org/wiki/Dungeons_%26_Dragons">D&amp;D</a> or <a href="https://en.wikipedia.org/wiki/Daggerheart">Daggerheart</a>, but have never had the time, the place, or a guide to light their way.
    </p>
    <p>
      We've built a whole new world for you to adventure within, and we can't wait to share it with you.
    </p>

    <div class="mt-8 space-y-2">
      <p class="text-xl text-center">What will be <em>your</em> story?</p>

      <%= form_with url: session_path, class: "contents text-left" do |form| %>
        <%= hashcash_hidden_field_tag %>
        <%= form.email_field :email,
          required: true,
          placeholder: "Enter your email address",
          class: "text-center fun-interaction"
        %>
      <% end %>

    </div>
  </div>
</main>