<main class="flex-1 flex flex-col justify-center items-center">
  <h1 class="text-3xl font-bold mb-2">The Doortal Awaits...</h1>
  <p class="text-balance mb-2 max-w-[36ch]">Runes were conjured and sent to <%= session[:awaiting_login] %> — please cast them hence: </p>

  <%= form_with url: validate_session_path, data: { turbo_frame: "_top" } do |f| %>
    <%= f.text_field :code, required: true, placeholder: "000000", class: "text-center fun-interaction" %>
  <% end %>
</main>
