<% content_for :title, @trait.name %>

<main class="flex justify-center items-center">
  <div class="max-w-[3in]">
    <nav class="flex gap-2 px-2 py-1 opacity-50">
      <%= link_to "&larr; back to traits".html_safe, traits_path %>
      <%= link_to "Edit", edit_trait_path(@trait) if Current.user.admin? %>
    </nav>

    <%= render @trait %>
  </div>
</main>