<% content_for :title, "Showing user" %>

<main>
  <article class="bg-white rounded-xl max-w-screen-md shadow mx-auto p-6 space-y-6">
    <h2 class="font-bold text-4xl"><%= @user.display_name %></h2>

    <div class="text-left">
      <%= @user.bio %>
    </div>
  </article>
</main>
