<div class="flex flex-col justify-between items-center h-full">
  <%= image_tag "counterspell-logo.svg", class: "max-h-40 max-w-full" %>
  <div class="space-y-4 font-script max-w-[36ch] indent-5">
    <h1 class="text-2xl text-center mb-8">Welcome to Counterspell Games</h1>
    <p>
      In October, we're bringing the magic of Table-Top RPGs to beginners.
    </p>

    <p>
      People like you, who've always wanted to play a game like Dungeons
      &amp; Dragons, but have never had the time, the place, or a guide to
      light their way.
    </p>
    <p>
      We've built a whole new world for you to adventure within, and we can't wait
      to share it with you.
    </p>

    <p class="mt-8 text-xl text-center">What will be <em>your</em> story?</p>
  </div>
</div>