<main class="space-y-6">
  <h1 class="font-bold text-4xl">Hello, <%= Current.user.display_name %>!</h1>
  <nav class="*:block">
    <%= link_to "heroes_path", heroes_path  %>
    <%= link_to "ancestries_path", ancestries_path  %>
  </nav>
</main>
